.modalTerm-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    transition: all .8s;
    width: 45%;
    position: absolute;
    top:100;
    bottom: 400px;
    left: 0;
    right: 0;
    margin: auto;
}

.modalTerm-header {
    background: #e1e1e1;
    height: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.modalTerm-header h3 {
    color: #b71c1c;
}

.modalTerm-body {
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
}

.modalTerm-footer {
    background: #e1e1e1;
    height: 35px;
    padding: 15px;
}

.close-modalTerm-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modalTerm-btn:hover {
    color: black;
}

.btnTerm-continue, .btnTerm-cancel{
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btnTerm-continue {
    background-color: #1b5e20;
    float: right;
}

.btnTerm-cancel{
    background-color: #1b5e20;
    float: left;
}

.open-modalTerm-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}