
.divProfileNurse{
    margin-left: 38%;
    padding-top: 5%;
    font-size: large;
}

table#tabProfileNurse {
    border-collapse: collapse;
    width: 60%;
}

table#tabProfileNurse th , table#tabProfileNurse td{
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table#tabProfileNurse td:hover:not(#btnSifraNurseTd){
    cursor: pointer;
    background-color: #f1f1f1;
}

button#btnSifraNurse{
    width: 170px;
    height: 40px;
    padding: 5px;
    font-size: 17px;
    padding-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
}

button#btnSifraNurse:hover{
    background-color: #f1f1f1;
    border: 1px solid black;
    box-shadow: 3px 5px #e2e2e2;
}

.divPrescriptionJ{
    margin-left: 25%;
    padding-top: 1%;
    font-size: large;
}

.divPrescriptionJ table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 15px;
}

.divPrescriptionJ table th, .divPrescriptionJ table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: 'Sofia';
    font-size: 17px;
}

