.divProfileAdmin{
    margin-left: 38%;
    padding-top: 5%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divProfileAdmine{
    margin-left: 38%;
    margin-top: 2%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.divModalSale {
    margin-left: 2%;
    padding-top: 2%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table#tabProfileAdmin {
    border-collapse: collapse;
    width: 60%;
}

table#tabProfileAdmin th , table#tabProfileAdmin td{
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}


table#tabProfileAdmin td:hover:not(#btnSifraAdminTd){
    cursor: pointer;
    background-color: #f1f1f1;
}

.last_column{
    width: 20px;
}


#btnAdd{
    align-self: center;
    margin-left: 55%;
}

#name {
    margin-left: -10%;
    height: 25px;
}
#add {
    margin-left: 6%;
    width: 120px;
    height: 25px;
}
#logout{
    margin-top: 16%;
    text-align: center;
}

#logout:hover{
    background-color: crimson;
    color: white;
}
tbody.tbody_pageAdmin_n {
    background-color: white;
    line-height: 35px;
    text-align: center;
    }

tbody.tbody_pageAdmin_n tr:hover {
    background-color: #f1f1f1;
}
.formSearch {
    margin-left: 1.5%;
    border-collapse: collapse;
    width: 65%;
}
.formSearch td{
   padding-left: 5px;
   margin-top: 0px;
}
.formSearchSale {
    margin-left: 0.5%;
    border-collapse: collapse;
    width: 96%;
    padding-left: 5px;
}
.formSearchDate {
    margin-left: 29%;
}
.formSearchDate td{
    padding-right: 15px;
}
.formSearchSale td{
    padding-right: 5px;
}
.dateSale {
    height: 30px;
    width: 120px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid rgb(149,177,149);

}
.h4Tittle {
    margin-top: 0px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.glupiBroj {
    text-align: right;
    margin-left: 50%;
}
#btnSearch {
    margin-left: 20%;
    border-radius: 10px;
    font-size: 80%;
    background-color:rgb(238, 237, 237);
}
#btnSearch:hover {
    background-color: rgb(238, 237, 237);
    color: black;
}
button.btn_pageAdmin_n {
    height: 35px;
    width: 100%;
    background-color:  inherit;
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button.btn_pageAdmin_n:hover {
    cursor: pointer;
    background-color: rgb(149,177,149);
}
#notTable {
    width: 55%;
    padding-left: 15px;
}

#btnRoom {
    background-color: rgb(149,177,149);
    border: none;
    height: 30px;
    width: 95%;
    margin-left: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btnRoom:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
#btnReg {
    margin-top: 0%;
    margin-left: 19%;
    height: 40px;
    font-size: 90%;
    background-color: rgb(149,177,149);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btnReg:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
#btnReport {
    margin-left: 18%;
    height: 40px;
    width: 25%;
    font-size: 90%;
    background-color: rgb(149,177,149);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btnReport:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
#imgFindType {
    vertical-align: bottom;
}
#btnClose {
    margin-left: 95%;
    margin-top: 0%;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    padding: 0px 0px 10px 0px;
    background-color: rgb(247, 245, 245);

}
.btnModalIzmena {
    margin-top: 0%;
    margin-left: 5.5%;
    height: 40px;
    font-size: 90%;
    background-color: rgb(149,177,149);
    border: none;
}
.btnModalIzmena:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}
.inputIzmena {
    height: 30px;
    width: 250px;
    border: none;
    border-bottom: 2px solid rgb(149,177,149);
}
.textModalIzmena {
    margin-top: 0%;
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btnPrikaziZahteve {
    margin-left: 95%;
    height: 40px;
    width: 100%;
    background-color: rgb(149,177,149);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btnPrikaziZahteve:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.filterDiagnosisHeaderJK{
    background: gray;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.filterDiagnosisHeaderJK h3{
    margin-top: -5px;
}

.tableDiagnosisJK table{
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Sofia';
    font-size: 17px;
}


.bodySearchDiagnosisJK{
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
}

.bodySearchDiagnosisJK table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.bodySearchDiagnosisJK table th, .bodySearchDiagnosisJK table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: 'Sofia';
    font-size: 17px;
}

.bodySearchDiagnosisJK table td{
    font-size: 15px;
}