ul.ul_listJmedicalRecord {
    list-style-type: none;
    position: fixed;
    top: 70px;
    left: 40;
    padding: 0;
    width: 280px;
    background-color: #e1f1f1;
    height: 650px;
    float: left;
}

li.li_listJmedicalRecord {
    text-align: center;
}

li.li_listJmedicalRecord a {
    display: block;
    color: rgb(19, 43, 68);
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 19px;
    padding-top: 27px;
    padding-bottom: 27px;
}

li.li_listJmedicalRecord a:hover {
    background-color: #5D6D7E;
    color: white;
}

div.main_divJmedicalRecord {
    margin-left: 5%;
}


.divMedicalRecord{
    margin-left: 38%;
    padding-top: 1%;
    font-size: medium;
}


table#tabMedicalRecord {
    border-collapse: collapse;
    width: 60%;
}

table#tabMedicalRecord th , table#tabMedicalRecord td{
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.divMedicalReviewEntryJ{
    margin-left: 25%;
    padding-top: 1%;
    font-size: large;
}

.divMedicalReviewEntryJ tr {
    vertical-align: top;
    padding-right: 50px;
}
.divMedicalReviewEntryJ input {
    width: 260px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: -40px;
}

.divMedicalReviewEntryJ textarea {
    width: 600px;
    height: 90px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: -40px;
}

#enterSubmitJ{
    width: 130px;
    height: 35px;
    margin-top: 20px;
    margin-left: 5px;
}

.filterDiagnosisHeaderJ{
    background: coral;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.filterDiagnosisHeaderJ h3{
    margin-top: -5px;
}

.tableDiagnosisJ table{
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Sofia';
    font-size: 17px;
}


.bodySearchDiagnosisJ{
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
}

.bodySearchDiagnosisJ table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.bodySearchDiagnosisJ table th, .bodySearchDiagnosisJ table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: 'Sofia';
    font-size: 17px;
}

.bodySearchDiagnosisJ table td{
    font-size: 15px;
}

.divMedicalReviewJ{
    margin-left: 25%;
    padding-top: 1%;
    font-size: large;
}

.divMedicalReviewJ tr {
    vertical-align: top;
    padding-right: 20px;
}
.divMedicalReviewJ input {
    width: 260px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: 0px;
}

.divMedicalReviewJ textarea {
    width: 600px;
    height: 90px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: 0px;
}

#enterSubmitChangeJ{
    width: 130px;
    height: 35px;
    margin-top: 20px;
    margin-left: 5px;
}

.divMedicalRecipeEntryJ{
   margin-left: 350px;
   padding-top: 1%;
   font-size: large;
}

.divMedicalRecipeEntryJ tr {
    vertical-align: top;
    padding-right: 20px;
}
.divMedicalRecipeEntryJ input {
    width: 260px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: 0px;
}

#selectInputJ{
    width: 260px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
    margin-left: 0px;
}

