.divMedicalHistoryJ{
    margin-left: 30%;
    padding-top: 1%;
    font-size: medium;
}

.divMedicalHistoryJ table{
    border-collapse: collapse;
    width: 80%;
    margin-top: 15px;
}

.divMedicalHistoryJ table th, .divMedicalHistoryJ table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-family: 'Sofia';
    font-size: 17px;
}
