.Login {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.Login input {
    width: 300px;
    height: 30px;
    font-size: 20px;
}
.Login p {
    font-size: 17px;
    margin-bottom: 3px;
}
input[type="submit"]{
    width: 120px;
    height: 30px;
    text-align: center;
    margin-left: 90px;
}
.zab_lozinka{
    width: 60%;
    height: 30px;
    text-align: center;
    border-radius: 12px;
}
#zaboravljena_lozinka{
    cursor: pointer;
    margin: 65px;
}
p#zaboravljena_lozinka{
    color: blue;
}
p#zaboravljena_lozinka:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.521);
    text-decoration: underline;
}
p#pZab_greska{
    color: red;
    font-size: 15px;
}