
.RegisterAdmin {
    margin-left: 30%;
    padding-top: -1%;
}

.RegisterAdmin td {
    vertical-align: top;
    padding-right: 50px;
}
.RegisterAdmin input {
    width: 300px;
    height: 30px;
    font-size: 20px;
}
.RegisterAdmin p {
    font-size: 17px;
    margin-bottom: 3px;
    margin-left: -28%;
}
.RegisterAdmin button {
    width: 120px;
    height: 30px;
    font-size: 17px;
    padding-bottom: 20px;
}
#id_submit{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: 150px;
}
#clinic {
    width: 20px;
    vertical-align: bottom;
    margin-left: -10%;
}
#cliniccentre {
    width: 20px;
    vertical-align: bottom;
    margin-left: -28px;
}
#pp {
    margin-left: -28%;
}