
.Register{
    margin-left: 7%;
    padding-top: 1%;  
}

.Register td {
    vertical-align: top;
    padding-right: 50px;
}
.Register input {
    width: 260px;
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    padding-left: 5px;
    margin-top: 4px;
}
.Register p {
    font-size: 18px;
    margin-bottom: 3px;
    text-align: left;
    font-family: Sofia;
    margin-top: 24px;
}
.Register button {
    width: 120px;
    height: 30px;
    font-size: 17px;
    padding-bottom: 20px;
}
#id_submit{
    width: 130px;
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
}