.modalPass-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin-left: 300px;
    margin-top: -450px;
    transition: all .8s;
    width: 45%;
}

.modalPass-header {
    background: #e1e1e1;
    height: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.modalPass-header h3 {
    color: #b71c1c;
}

.modalPass-body {
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 30px;
}

.modalPass-footer {
    background: #e1e1e1;
    height: 35px;
    padding: 15px;
}

.close-modalPass-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modalPass-btn:hover {
    color: black;
}

.btnPass-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btnPass-continue {
    background-color: #1b5e20;
    margin-left: 42%;
}

.open-modalPass-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}