.App {
  overflow: auto;
}

.App-logo {
  height: 200px;
  position: absolute;
  top: 150px;
  right: 150px;
}

.App-header {
  background-color: #5D6D7E;
  height: 20px;
  padding: 20px;
}

.App-title {
  font-size: 22px;
  font-weight: 200;
  font-style: italic;
  color: #f2f2f2;
  position: absolute;
  top: 2px;
  right: 30px;
  font-family: fantasy;
}

.App-intro {
  font-size: large;
}
