
.divProfileCAdmin{
    margin-left: 38%;
    padding-top: 5%;
    font-size: large;
}

.divDiagnosis{
    margin-left: 30%;
    padding-top: 5%;
    font-size: medium;
}

.RegisterAdmin{
    margin-left: 38%;
    padding-top: 5%;
}

table#tabProfileCAdmin {
    border-collapse: collapse;
    width: 60%;
}

table#tabRequest {
    border-collapse: collapse;
    width: 70%;
}

table#tabProfileCAdmin th , table#tabProfileCAdmin td{
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table#tabRequest th {
    background-color: #88bfae;
    color: black;
    text-align: center;
    padding: 15px;
}


